-
    const servicesItems = [
        {
            title: 'Виртуальные<br/> серверы',
            titleImg: 'assets/img/servers_logo.svg',
            titleImgMod: 'services__item-logo_services',
            text: 'IaaS-сервис для создания виртуальных машин без сложных настроек',
            linkVal: 'Попробовать',
            backImg: 'background_services'
        },
        {
            title: 'Объектное<br/> хранилище',
            titleImg: 'assets/img/storage_logo.svg',
            titleImgMod: 'services__item-logo_storage',
            text: 'S3-совместимое облачное хранилище для быстрой работы с большими объемами данных',
            textMod: 'services__item-text_storage',
            linkVal: 'Попробовать',
            backImg: 'background_storage'
        },
        {
            title: 'Графические<br/> адаптеры',
            titleImg: 'assets/img/gpu_logo.svg',
            titleImgMod: 'services__item-logo_gpu',
            text: 'Мощные облачные вычисления на базе NVIDIA GPU без покупки собственных видеокарт',
            linkVal: 'Попробовать',
            backImg: 'background_gpu'
        },
        {
            title: 'Контейнеры<br/> Kubernetes',
            titleImg: 'assets/img/containers_logo.svg',
            titleImgMod: 'services__item-logo_containers',
            text: 'IaaS-сервис для создания виртуальных машин без сложных настроек',
            linkVal: 'Попробовать',
            backImg: 'background_containers'
        },
        {
            title: 'Большие<br/> данные',
            titleImg: 'assets/img/bigdata_logo.svg',
            titleImgMod: 'services__item-logo_bigdata',
            text: 'IaaS-сервис для создания виртуальных машин без сложных настроек',
            linkVal: 'Попробовать',
            backImg: 'background_bigdata'
        },
        {
            title: 'Базы данных<br/> в облаке',
            titleImg: 'assets/img/databases_logo.svg',
            titleImgMod: 'services__item-logo_databases',
            text: 'IaaS-сервис для создания виртуальных машин без сложных настроек',
            linkVal: 'Попробовать',
            backImg: 'background_databases'
        },
        {
            title: 'Машинное<br/> обучение',
            titleImg: 'assets/img/ml_logo.svg',
            titleImgMod: 'services__item-logo_ml',
            text: 'IaaS-сервис для создания виртуальных машин без сложных настроек',
            linkVal: 'Скоро запуск',
            linkValClass: 'services__item-link_ml',
            backImg: 'background_ml'
        },
        {
            title: '',
            titleImg: 'assets/img/mcs_logo.svg',
            titleImgMod: 'services__item-logo_mcs',
            text: 'Скоро на платформе Mail.Ru Cloud Solutions появятся новые сервисы',
            textMod: 'services__item-text_mcs',
            linkVal: 'Быть в курсе',
            linkValClass: 'services__item-link_mcs',
            backImg: ''
        }
    ]
.services
    .container.services__body
        h1.title Наши сервисы
        ul.services__items
            each item in servicesItems
                li.services__item.background(class= item.backImg)
                    .services__item-descr
                        .services__item-header
                            h2.services__item-title !{item.title}
                            img(src= item.titleImg class= item.titleImgMod loading="lazy").services__item-logo
                        .services__item-text(class= item.textMod)= item.text
                    a(href='#' class= item.linkValClass).services__item-link= item.linkVal
        .buttons
            button.buttons__item Оставить заявку
            button.buttons__item Узнать стоимость
